page-login {

	position: relative;

	ion-input {
		background-color: white;
		margin-top: 10px;
	}

	ion-input .text-input {
		margin-left: 15px;
		font-size: 16px;
		color: #000;
		font-weight: 300;
	}

	.item {
		padding-left: 0;
	}

	.item.item-block .item-inner {
		padding-right: 0;
	}

	.no-pads ion-label {
		margin: 11px 0;
		padding: 1px 0;
	}

	.content {
		background-image: url('../assets/images/login-bg.png');
		background-position: center;
		background-size: cover;

		font-weight: 300;
	}

	.content .scroll-content {
		// display: -webkit-flex; /* Safari */
  // 		display: flex;
		// -webkit-align-items: center;
  // 		align-items:         center;
	}

	.login-form {
		width: 100%;
		max-width: 350px;
	    margin: auto;
	    margin-top: 45%;
	}

	.logo {
		background-image: url('../assets/images/Tapi-Logo-White.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 15%;
    	min-height: 80px;
	}

	.btnlogin {
		width: 100%;
		border-radius: 0;
		border: 1px solid #FFF;
		color: #FFF;
		margin: 0;
	}

	.btnlogin.activated {
		opacity: 0.5;
		background: transparent;
	}

	.btnforgot {
		border: 0;
		color: #FFF;
		text-decoration: underline;
		line-height: 20px;
	}

	.no-margins,
	.no-margins ion-label {
		margin: 0;
	}

	.web-link {
		position: absolute;
		bottom: 5%;
		width: 90%;
		margin: 0;
		text-align: center;
		color: #FFF;
	}
}



/**
 * iPad CSS
 */
.platform-ipad page-login {

	.login-form {
		width: 80%;
		max-width: 100%;
		margin-top: 40%;
	}

	.logo {
		min-height: 100px;
	}

	ion-input .text-input {
		font-size: 20px;
	}

	.btnlogin, .btnforgot {
		font-size: 20px;
	}
}

	

