<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding [ngClass]="getBg()">

	<form class="login-form" id="loginForm" [formGroup]="loginForm">
		<ion-item color="transparent" class="logo" no-lines></ion-item>

		<ion-item class="" color="transparent" no-lines>
			<ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
		</ion-item>

		<ion-item class="" color="transparent" no-lines>
			<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
		</ion-item>

		<ion-item class="no-pads" color="transparent" no-lines text-center>
			<button ion-button outline default class="btnlogin" no-padding (click)="login()">Login</button>
		</ion-item>

		<ion-item class="no-margins" color="transparent" no-lines no-margin text-center>
			<button ion-button clear outline default class="btnforgot" no-padding (click)="openRegistrationSite()">Don’t have a TapiApp account?<br>Create one here.</button>
		</ion-item>

		<ion-item class="no-margins" color="transparent" no-lines no-margin text-center>
			<button ion-button clear outline default class="btnforgot" no-padding (click)="presentForgotPassword()">Forgot Password?</button>
		</ion-item>
	</form>

	<ion-label class="web-link" (click)="openWebsite()">www.tapiapp.com</ion-label>

</ion-content>
