<!--
  Generated template for the ForgotPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="bg">

	<form class="fpform" [formGroup]="fpform">
		<!-- <ion-item class="logo" no-padding no-lines></ion-item> -->
		<h2 text-center color="light">Forgot Password</h2>
		<p color="light">Enter your email address below and we will send you the instructions on how to reset your password.</p>
		
		<ion-item class="" no-lines>
			<ion-input class="" type="email" placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
		
		<ion-item class="" no-lines text-center>
			<button ion-button outline clear default color="light" class="btnsubmit" (click)="sendForgotPW()">
				<ion-spinner color="light" *ngIf="hasSubmitted"></ion-spinner>
				{{ hasSubmitted ? ' Submitting' : 'Submit' }}
			</button>
		</ion-item>
	</form>

</ion-content>
