page-weekly {

	.logo-header {
		width: 100%;
		height: 55px;
		// height: 68px;
		padding: 5px;
	}

	ion-row {
		position: relative;
		height: 100%;
		overflow: hidden;
	}

	ion-col {
		position: relative;
		height: 100%;
	}

	ion-content .scroll-content {
		background-color: #FFF;
	}

	.vertical-center {
		box-sizing: border-box;
		padding: 7px 0;
	}

	.bg-center-contain {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.company-logo {
		background-image: url(../assets/images/logo-placeholder.png);
		background-position: left center;
	}

	.tapi-logo {
		background-image: url(../assets/images/Tapi-Logo.png);
		background-position: right center;
	}

	

	.date-switcher {
		position: relative;
		height: 45px;
		padding: 5px;
	}

	.txtdate {
		height: 100%;
	}

	.txtdate::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.txtdate .text-input {
		margin: 0;
		padding: 0;
		height: 100%;
	    font-weight: 300;
	    font-size: 25px;
	    text-align: center;
	    line-height: 150%;
	    color: #4d4d4d;
	}

	.btnright {
		background-image: url(../assets/images/icons/Right-Arrow.png);
		width: 100%;
    	height: 100%;
		background-size: auto 85%;
		background-repeat: no-repeat;
	}

	.btnleft {
		background-image: url(../assets/images/icons/Left-Arrow.png);
		width: 100%;
		height: 100%;
		background-size: auto 85%;
		background-repeat: no-repeat;
	}


	.filterbox {
		position: relative;
		height: 50px;
		background-color: #e6e6e6;
	}

	.col-today {
		-webkit-flex: 0 0 80px;
		-ms-flex: 0 0 80px;
		flex: 0 0 80px;
		max-width: 80px;
	}

	.btntoday {
		width: 95%;
		height: 60%;
		padding: 0;
		margin: 10px 0;
		color: #bf1c73;
		border-color: #bf1c73;
	}

	.btntoday.activated {
		background-color: #bf1c73;
		color: #fff;
	}

	.btnmenu {
		background-image: url(../assets/images/icons/Menu.png);
		width: 100%;
		height: 100%;
		background-size: 80% auto;
		background-position: center;
	}

	.col-date {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.datepicker {
		position: relative;
		background: white;
		width: 95%;
		margin: 0 2.5%;
	    height: 100%;
	    padding: 8px 0;
	    text-indent: 8px;

	    // Fix
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.datepicker .datetime-text {
		font-size: 16px;
    	font-weight: 300;
    	line-height: 150%;
    	color: #4d4d4d;

		background-image: url(../assets/images/icons/Down-Black-Arrow.png);
		background-position: 98% center;
		background-repeat: no-repeat;
		background-size: 25px auto;
	}

	.btnfilter {
		width: 92%;
		height: 100%;
		margin: 0 10px;
		color: #4d4d4d;
		font-size: 16px;
		line-height: 150%;
		font-weight: 300;
		background: #FFF;
		border-radius: 0;
	}

	.btnfilter .button-inner {
	    justify-content: flex-start;
	    padding: 8px 0;
	    text-indent: 8px;

	    background-image: url(../assets/images/icons/Down-Black-Arrow.png);
		background-position: 98% center;
		background-repeat: no-repeat;
		background-size: 25px auto;
	}

	.btnfilter.activated {
		opacity: 1;
		background: #FFF;
	}

	.btnaddpad {
		text-align: center;
		max-width: 35px;
	}

	// Task
	.tasks-container {
		position: relative;
		white-space: nowrap;
		width: 100%;
    	height: 100%;
	}

	.tasks-list {
		position: relative;
		margin: 0;
	}

	.task-item {
		padding: 0;
		border-bottom: 3px solid #ffffff !important;
		color: #4d4d4d;
	}

	.task-item-options {
		padding-bottom: 3px;
		border: 0;
	}

	.task-item-options button {
		min-width: 60px;
	}

	.task-item .item-inner {
		padding: 0 12px;
		border: 0 !important;
		margin: 0 !important;
    	padding: 0 !important;
	}

	.task-item .item-inner ion-label {
		margin: 0;
		padding: 0;
	}

	.task-item .item-container {
		position: relative;
		width: 100%;
		height: 100%;
    	padding: 11px 15px;
	}

	.task-item h2 {
		font-weight: bold;
		display: inline-block;
	}

	.task-item h3 {
    	font-size: 16px;
		font-weight: 300;
		line-height: 100%;
	    padding: 2px 0 0 0;
	}

	.task-item .circle {
		float: left;
		padding: 0;
		margin: 0;
		width: 20px;
		height: 20px;
		border: 1px solid black;
		border-radius: 50%;
		display: inline-block;
		vertical-align: top;
		margin-right: 1%;
		background: transparent;
	}

	.task-item .divider {
		display: block;
	    border-bottom: 1px solid;
	    width: 100%;
	    height: 1px;
	}

	.task-item .time {
		font-weight: 300;
		font-size: 15px;
		padding: 3px 0;
	}

	.task-item .isurgent {
		float: right;
		width: 23px;
		height: 23px;
		padding: 3px;
	}

	// Leave Bar
	.leave-bar {
		background-color: #009d9c;
		color: #e9e9e9;
		text-align: center;
		height: 24px;
		line-height: 24px;
		box-sizing: border-box;
	}


	// Footer
	.graph-box {
		width: 100%;
		height: 100px;
		background: #ffffff;
	}

	.graph-box .graph-upper {
		position: relative;
	}

	.graph-box ion-grid {
		width: 100%;
		height: 100%;
		padding: 0
	}

	.vertical-divider-container {
		-webkit-flex: 0 0 5%;
		-ms-flex: 0 0 5%;
		flex: 0 0 5%;
		max-width: 5%;
		box-sizing: border-box;
		padding: 5px 0;
	}

	.vertical-divider-container .vertical-divider {
		width: 1px;
		border-left: 1px solid #dedede;
		height: 100%;
		margin: auto;
	}

	.graph-box .graph-parent {
		height: 60px;
	}

	.graph-box .border-gray {
		border-top: 1px solid #dedede;
		width: 95%;
		margin: 0 auto;
	}

	.booked-container {
		position: relative;
	}

	.booked-container .graph-container {
		position: relative;
		width: 60px;
		height: 60px;
		display: inline-block;
	}

	.booked-container .circle-border {
		position: absolute;
		width: 90%;
		height: 90%;
		margin: 5%;
		border: 1px solid rgb(235,235,235);
		border-radius: 50%;
	}

	.booked-container #bookedgraph {
		position: absolute;
		width: 100%;
		height: 100%;
    	top: -5px;
	}

	.booked-container .text-container {
		display: inline-block;
		height: 100%;
		vertical-align: top;
	}

	.booked-container .time_text {
		color: #009d9c;
	    font-weight: 300;
	    font-size: 14px;
	    margin-top: 10px;
	}

	.booked-container .time_val {
		font-weight: bold;
		font-size: 15px;
		color: #009d9c;
	}

	.task-container {
		position: relative;
	}

	.task-container .graph-container {
		position: relative;
		width: 60px;
		height: 60px;
		display: inline-block;
	}

	.task-container .progressbar {
		width: 85%;
		height: 85%;
		margin: 7.5%;
		border: 1px solid rgb(235,235,235);
	}

	.task-container .progressbar .bar {
		width: 90%;
	    height: 90%;
	    margin: 6% 5%;
	    background: #009d9c;
	    -webkit-transform-origin: bottom center;
	    		transform-origin: bottom center;
	    -webkit-transform: scaleY(0);
	    		transform: scaleY(0);
	    -webkit-transition: all .3s ease;
	    		transition: all .3s ease;
	}

	.task-container .text-container {
		display: inline-block;
		height: 100%;
		vertical-align: top;
	}

	.task-container .task_text {
		color: #009d9c;
	    font-weight: 300;
	    font-size: 14px;
	    margin-top: 10px;
	}

	.task-container .task_val {
		font-weight: bold;
		font-size: 15px;
		color: #009d9c;
	}

	// Disabler class
	.disabler {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .2);
		top: 0;
		left: 0;
		z-index: 1;
		display: none;
	}

	.disabler .leave-text {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    padding: 0 10px;
	    font-size: 40px;
	    font-weight: 300;
	    color: #FFF;
		text-align: center;
	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	}

	.btncomment {
		padding: 0 5px;
		margin: 0;
		height: 34px;
		font-size: 15px;
		font-weight: 300;
	}

	// Header
	.is-past .filterbox {
	}
	
	// Content
	.is-onleave .disabler {
		display: block;
	}

	.is-past .tasks-list {
		opacity: .5;
	}

	.is-past .scroll-content {
		background-color: #e7e7e7;
	}

	.is-past .task-item {
		border-bottom: 3px solid #e7e7e7 !important;
	}

	// Footer
	.is-past.graph-box {
		background-color: #e7e7e7;
		opacity: 0.8;
	}
	.is-past.graph-box .bar,
	.is-onleave.graph-box .bar {
		background: #777;
	}

	.is-past.graph-box .time_text,
	.is-past.graph-box .time_val,
	.is-past.graph-box .task_text,
	.is-past.graph-box .task_val,
	.is-onleave.graph-box .time_text,
	.is-onleave.graph-box .time_val,
	.is-onleave.graph-box .task_text,
	.is-onleave.graph-box .task_val {
		color: #777;
	}

	.is-past .booked-container .circle-border,
	.is-past .task-container .progressbar,
	.is-onleave .booked-container .circle-border,
	.is-onleave .task-container .progressbar {
		border: 1px solid #c6c6c6;
	}

	.is-past .btncomment,
	.is-onleave .btncomment {
		color: #666;
	}


	// On Leave
	.is-onleave .disabler {
		background: rgba(0, 0, 0, .7);
		opacity: 0.8;
	}
}

/**
 * iPad CSS
 */
.platform-ipad page-weekly {

	font-size: 20px;

	.logo-header {
		height: 85px;
	}

	.btnmenu {
		background-size: 70% auto;
	}

	.date-switcher {
		height: 55px;
	}

	.txtdate .text-input {
		font-size: 35px;
	}

	.filterbox {
		height: 70px;
	}

	.datepicker .datetime-text {
		font-size: 23px;
		background-size: 30px auto;
	}

	.col-today {
		-webkit-flex: 0 0 120px;
		-ms-flex: 0 0 120px;
		flex: 0 0 120px;
		max-width: 120px;
	}

	.btntoday {
	    font-size: 20px;
	    margin: 13.5px 0px;
	}

	.btnfilter {
		font-size: 23px;
	}

	.btnfilter .button-inner {
		background-size: 30px auto;
	}

	.task-item .circle {
		width: 30px;
		height: 30px;
	}

	.task-item h2 {
		font-size: 30px;
	}

	.task-item h3 {
		font-size: 23px;
	}

	.task-item .time {
		font-size: 22px;
	}

	.task-item .divider {
		margin-bottom: 3px;
	}

	.task-item .isurgent {
		width: 29px;
		height: 29px;
		padding: 3px;
		margin-top: -3px;
	}

	.task-item-options button{
		min-width: 90px;
		font-size: 20px;
	}

	.graph-box {
		height: 150px;
	}

	.graph-box .graph-parent {
		height: 100px;
	}

	.booked-container .graph-container,
	.task-container .graph-container {
		width: 100px;
		height: 100px;
	}

	.booked-container .time_text,
	.booked-container .time_val,
	.task-container .task_text, 
	.task-container .task_val {
		font-size: 22px;
	}

	.booked-container .time_text,
	.task-container .task_text,  {
		margin-top: 20%;
	}

	.btncomment {
		font-size: 23px;
	}

	.btnaddpad {
		max-width: 60px;
	}

}
