<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
	<button ion-button menuToggle>
      <ion-icon name="menu" color="pink"></ion-icon>
    </button>

    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content nopadding>
	<ion-list>
		<ion-list-header> Push Notifications </ion-list-header>
		<ion-item>
			<ion-label>Enable Notifications</ion-label>
			<ion-toggle color="green" [(ngModel)]="is_push" (ionChange)="togglePush()"></ion-toggle>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header> Personal Details </ion-list-header>
		<ion-item no-lines>
			<ion-label stacked>Email (not editable)</ion-label>
			<ion-input type="email" readonly [(ngModel)]="email"></ion-input>
		</ion-item>
		<ion-item no-lines>
			<ion-label stacked>Full Name</ion-label>
			<ion-input type="text" [(ngModel)]="fullname"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button clear item-right color="pink" (click)="updateName()">
		      Save
		    </button>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header> Password </ion-list-header>
		<ion-item no-lines>
			<ion-label stacked>Current Password</ion-label>
			<ion-input type="password" [(ngModel)]="current_pw"></ion-input>
		</ion-item>
		<ion-item no-lines>
			<ion-label stacked>New Password</ion-label>
			<ion-input type="password" [(ngModel)]="new_pw"></ion-input>
		</ion-item>
		<ion-item no-lines>
			<ion-label stacked>Confirm New Password</ion-label>
			<ion-input type="password" [(ngModel)]="confirm_new_pw"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button clear item-right color="pink" (click)="updatePassword()">
		      Save
		    </button>
		</ion-item>
	</ion-list>
</ion-content>
