page-settings {

	.toolbar-background {
		background: #ffffff;
	}

	.toolbar-title {
		font-weight: 300;
		color: #4d4d4d;
		font-size: 18px;
	}

	.back-button {
		color: #bf1c73;
	}

	ion-label {
		color: #4d4d4d;
		font-weight: 300;
	}

	ion-input[type="text"],
	ion-input[type="email"],
	ion-input[type="password"] {
	    padding: 0 10px;
	    background-color: #E6E5E6;
	    font-size: 15px;
	    font-weight: 300;
	    line-height: 100%;
	    color: #555;
	}

	.item[no-lines] .item-inner {
		padding-right: 16px;
	}

	.item .item-button {
		padding: 0;
		margin: 0 16px;
		font-size: 1.5rem;
		font-weight: 300;
	}

	// Android

	.item-md .item-inner {
		border: 0 !important;
		box-shadow: none !important;
	}

	.input-has-focus .label-md[stacked] {
		color: #009d9c;
	}
}

.platform-ipad page-settings {

	font-size: 20px;

	.toolbar-title {
		font-size: 22px;
	}

	ion-label {
		font-size: 20px;
	}

	.item ion-label {
		font-size: 16px;
	}

	ion-input[type="text"],
	ion-input[type="email"],
	ion-input[type="password"] {
		font-size: 18px;
	}

	.item .item-button {
		font-size: 18px;
	}
}