<!--
  Generated template for the NewPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding [ngClass]="bg">
	<form [formGroup]="pwForm">
		<!-- <ion-item class="logo" no-padding no-lines></ion-item> -->
		<h2 color="light" text-center>New Password</h2>
		<p color="light" text-center>Set your new password below (should be at least 8 characters long):</p>
		
		<ion-item class="" no-lines>
			<ion-input class="" type="password" placeholder="New password" formControlName="password"></ion-input>
		</ion-item>

		<ion-item class="" no-lines>
			<ion-input class="" type="password" placeholder="Confirm new password" formControlName="password_confirm"></ion-input>
		</ion-item>
		
		<ion-item class="" no-lines text-center>
			<button ion-button outline clear default color="light" class="btnsubmit" (click)="updatePW()">
				<ion-spinner color="light" *ngIf="hasSubmitted"></ion-spinner>
				{{ hasSubmitted ? ' Updating' : 'Update' }}
			</button>
		</ion-item>
	</form>
</ion-content>
