page-new-password {

	ion-input {
		background-color: white;
	}

	ion-input .text-input {
		margin-left: 15px;
		font-size: 16px;
		color: #000;
		font-weight: 300;
	}

	form {
		width: 100%;
	    margin: auto;
	    margin-top: 45%;
	}

	.item,
	.item .item-inner {
		padding: 0 !important;
		background: transparent;
	}

	.item .label {
		margin: 0;
	}

	.back-button {
		color: #FFF;
	}

	.content {
		background-image: url('../assets/images/login-bg.png');
		background-position: center;
		background-size: cover;

		font-weight: 300;
	}

	.content .scroll-content {
		// display: -webkit-flex; /* Safari */
  // 		display: flex;
		// -webkit-align-items: center;
  // 		align-items:         center;
	}

	.logo {
		background-image: url(../assets/images/Tapi-Logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 15%;
		min-height: 80px;
    	margin-top: 45%;
	}

	.btnsubmit {
		font-size: 18px;
	}
}


/**
 * iPad CSS
 */

.platform-ipad page-new-password {

	font-size: 20px;

	form {
		width: 80%;
		margin: auto;
		margin-top: 40%;
	}

	ion-input {
		margin-top: 1%
	}

	ion-input .text-input {
		font-size: 20px;
	}

	.btnsubmit {
		font-size: 23px;
	}


}
