<!-- Menu -->
<ion-menu class="menu" id="weeklyMenu" [content]="content" swipeEnabled="false">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <ion-list class="menu-group">
      <ion-list-header>
        Schedule
      </ion-list-header>
      <button ion-item *ngFor="let p of schedulePages" (click)="goToPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>

    <ion-list class="menu-group">
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item *ngFor="let p of accountPages" (click)="goToPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
