// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.noscroll {
	.scroll-content {
		overflow-y: hidden;
	}
}

.menu {
	ion-list {
		margin-bottom: 0;
	}

	ion-label {
		color: #4d4d4d;
		font-weight: 300;
	}

	.menu-group {
		margin-bottom: 30px;
	}
}

.content.blues {
	background-image: url('../assets/images/bgs/blues.png');
	background-position: center;
	background-size: 100% auto;
}

.content.greens {
	background-image: url('../assets/images/bgs/greens.png');
	background-position: center;
	background-size: 100% auto;
}

.content.reds {
	background-image: url('../assets/images/bgs/reds.png');
	background-position: center;
	background-size: 100% auto;
}