<!--
  Generated template for the EmployeeList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton no-border-bottom>
  	<button ion-button menuToggle>
      <ion-icon name="menu" color="pink"></ion-icon>
    </button>

    <ion-title>Employees</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="queryText"
    			   (ionInput)="updateEmployee()"
    			   debounce="750"
    			   color="primary"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content no-padding>
	<ng-container *ngFor="let dept of departments">
		<ion-list *ngIf="hasEmployees(dept)">
			<ion-list-header>
				{{ dept.name }}
			</ion-list-header>
			<ng-container *ngFor="let employee of dept.users">
				<button ion-item *ngIf="!employee.hidden" (click)="viewSchedule(employee)">
					<h3>{{ employee.name }}</h3>
				</button>
			</ng-container>
		</ion-list>
	</ng-container>
</ion-content>
