<!--
  Generated template for the Employee Weekly page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header (swipe)="swipeEvent($event)" [class.is-past]="dateIsPast || dateIsOnLeave">

	<ion-navbar>
		<ion-title>{{ user.name }}</ion-title>
	</ion-navbar>

	<!-- Date Navigator -->
	<ion-row class="date-switcher">
		<ion-col no-padding>
			<button class="btnleft bg-center-contain" ion-button clear no-padding no-margin (click)="subtractDate()"></button>
		</ion-col>
		<ion-col width-80 no-padding>
			<ion-input type="text" placeholder="Date" class="txtdate" color="pink" readonly [value]="dateText" text-center> </ion-input>
		</ion-col>
		<ion-col no-padding>
			<button class="btnright bg-center-contain" ion-button clear no-padding no-margin (click)="addDate()"></button>
		</ion-col>
	</ion-row>

	<!-- Filter and Date Picker -->
	<ion-row class="filterbox">
		<ion-col class="col-date vertical-center" no-padding>
			<ion-datetime class="datepicker" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" min="2016" [(ngModel)]="datePickerVal" (ionChange)="dateChanged(dtpicker)" #dtpicker></ion-datetime>
		</ion-col>
		<!-- <ion-col class="vertical-center" no-padding width-50>
			<button class="btnfilter bg-center-contain" ion-button clear no-padding no-margin (click)="presentFilter($event)" >{{ filterText }}</button>
		</ion-col> -->
		<ion-col class="col-today" no-padding>
			<button class="btntoday" ion-button round outline (click)="jumpToToday()">Today</button>
		</ion-col>
	</ion-row>
	
</ion-header>

<ion-content scrollX="false" nopadding [class.is-past]="dateIsPast" [class.is-onleave]="isLeaveFullDay()" [class.noscroll]="isLeaveFullDay()" #weeklyContent>

	<!-- Refresher -->
	<ion-refresher #refresher (ionRefresh)="refreshTask($event)" (ionPull)="doPulling($event, taskList)" pullMin=100 pullMax="1250">
		<ion-refresher-content
	      pullingIcon="arrow-down"
	      pullingText="Pull to refresh"
	      refreshingSpinner="circles"
	      refreshingText="Refreshing...">
	    </ion-refresher-content>
	</ion-refresher>

	<!-- Task List -->
	<!-- <ion-scroll class="tasks-container" [scrollY]="!dateIsPast || !dateIsOnLeave"> -->
	<div class="tasks-container" id="taskContainer" #taskContainer>

		<div class="disabler">
			<div class="leave-text">{{ renderLeaveText() }}</div>
		</div>

		<ion-list class="tasks-list" #taskList>
			<ion-item-sliding *ngFor="let task of tasks" #taskItem>
				<ion-item class="task-item">
					<div class="item-container" [style.background-color]="getBg(task.color)" [style.minHeight]="setTaskHeight(task) + 'px'">
					    <button class="circle" ion-button clear no-padding no-margin [style.border-color]="task.color" [style.background-color]="task.complete === '' ? 'transparent' : task.color" [class.completed]="task.complete !== ''"></button>
					    <h2 (click)="presentTaskDetails($event, task)">{{ task.details.task.project.client.name }}</h2>
					    <h3>{{ task.details.task.project.name }}</h3>
					    <h3>{{ task.details.task.key.name }}</h3>
					    <span class="divider" [style.border-color]="task.color"></span>
					    <span class="time">{{ task.time }}</span>
					    <img [attr.src]="task.is_urgent == 0 ? 'assets/images/icons/Star-Empty.png' : 'assets/images/icons/Star-Full.png'" alt="" class="isurgent">
					</div>
			  	</ion-item>
			  	<ion-item-options class="task-item-options" side="right">
			      <button ion-button color="primary" (click)="presentTaskDetails($event, task)">
			        <ion-icon name="menu"></ion-icon>
			        Info
			      </button>
			    </ion-item-options>
		  	</ion-item-sliding>

		  	<ion-item class="leave-bar" *ngIf="shouldShowLeaveBar()">Leave {{ leave?.leave_hours }}hr</ion-item>
		</ion-list>
	<!-- </ion-scroll> -->
	</div>

</ion-content>

<ion-footer class="graph-box" nopadding [class.is-past] = "dateIsPast" [class.is-onleave]="isLeaveFullDay()">

	<div class="graph-upper">

		<div class="disabler"></div>

		<div class="border-gray" style="margin-bottom: 2px;"></div>

		<ion-row class="graph-parent">
			<ion-col class="booked-container" text-right no-padding>
				<div class="graph-container">
					<div class="circle-border"></div>
					<canvas id="bookedgraph"></canvas>
				</div>
				<div class="text-container" text-left>
					<div class="time_text">Time Booked</div>
					<div class="time_val"> {{ bookedTime }} </div>
				</div>
			</ion-col>
			<ion-col width-5 no-padding class="vertical-divider-container">
				<div class="vertical-divider"></div>
			</ion-col>
			<ion-col class="task-container" no-padding>
				<div class="graph-container">
					<div class="progressbar">
						<div class="bar" [style.transform]="barVal"></div>
					</div>
				</div>
				<div class="text-container">
					<div class="task_text">Tasks Done</div>
					<div class="task_val"> {{ taskDone }} </div>
				</div>
			</ion-col>
		</ion-row>

		<div class="border-gray" style="margin-top: 2px;"></div>
	</div>

	<div text-center>
	</div>
	

</ion-footer>

