page-task-details {
	ion-navbar .toolbar-background {
		background: transparent;
	}

	ion-navbar .toolbar-title {
		font-weight: normal;
		color: #BF1C73;
		font-size: 16px;
	}

	ion-navbar .isurgent {
	    width: 18px;
	    height: 18px;
	    padding: 1px;
	}

	.closebtn {
		color: #c8c7cc;
	}

	.label {
		color: #008085 !important;
	}

	ion-item .text-input {
		font-weight: 300;
    	font-size: 15px;
	}
}


.platform-ipad page-task-details {

	ion-navbar .toolbar-title {
		font-size: 23px;
	}

	ion-navbar .isurgent {
		width: 22px;
		height: 22px;
	}

	.label {
		font-size: 16px;
	}

	.text-input {
		font-size: 20px;
	}

}