<!--
  Generated template for the TaskDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons class="" end>
        <img [attr.src]="task.is_urgent == 0 ? 'assets/images/icons/Star-Empty.png' : 'assets/images/icons/Star-Full.png'" alt="" class="isurgent">
    </ion-buttons>
    <ion-title>Project Details</ion-title>
    <ion-buttons class="" start>
    	<button class="closebtn" ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
	<ion-item>
		<ion-label stacked>Client</ion-label>
    	<ion-input type="text" [value]="task.details.task.project.client.name" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Brand Name</ion-label>
    	<ion-input type="text" [value]="task.details.task.project.brand.name" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Project</ion-label>
    	<ion-input type="text" [value]="task.details.task.project.name" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Format</ion-label>
    	<ion-input type="text" [value]="task.details.task.project.format.name" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Version</ion-label>
    	<ion-input type="text" [value]="task.details.task.project.version" readonly></ion-input>
    </ion-item>
	<ion-item>
		<ion-label stacked>Language</ion-label>
    	<ion-input type="text" [value]="task.details.language" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Project Duration</ion-label>
    	<ion-input type="text" [value]="task.details.duration" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Task Type</ion-label>
    	<ion-input type="text" [value]="task.details.task.key.name" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Assign Time</ion-label>
    	<ion-input type="text" [value]="humanReadableTime(task.details.time)" readonly></ion-input>
    </ion-item>
    <ion-item>
		<ion-label stacked>Notes</ion-label>
    	<ion-textarea rows="6" type="text" [value]="task.note" readonly></ion-textarea>
    </ion-item>
</ion-content>
