<!--
  Generated template for the Comment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Comment</ion-title>
    <ion-buttons class="" end>
    	<button class="closebtn" ion-button icon-only (click)="close()" *ngIf="!submitting"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

	<ion-item no-lines>
		<ion-label stacked>Comment</ion-label>
    	<ion-textarea rows="6" type="text" [(ngModel)]="textComment"></ion-textarea>
    </ion-item>

    <ion-item class="" no-padding no-lines style="text-align: center;">
    	<button ion-button class="submitbtn" clear *ngIf="!submitting" (click)="submitComment()">Submit</button>
    	<ion-spinner class="" *ngIf="submitting" color="pink"></ion-spinner>
    </ion-item>

</ion-content>
