page-comment {
	ion-navbar .toolbar-background {
		background: transparent;
	}

	ion-navbar .toolbar-title {
		font-weight: normal;
		color: #BF1C73;
		font-size: 16px;
	}

	.closebtn {
		color: #c8c7cc;
	}

	.label {
		color: #008085 !important;
	}

	ion-item .text-input {
		font-weight: 300;
    	font-size: 15px;
		background: #e6e5e6;
		padding: 6px;
	}

	.submitbtn {
		font-size: 16px !important;
		color: #bf1d74;
	}
}

.platform-ipad page-comment {

	ion-navbar .toolbar-title {
		font-size: 23px;
	}

	.label {
		font-size: 16px;
	}

	ion-item .text-input {
		font-size: 20px;
	}

	.submitbtn {
		font-size: 20px !important;
	}

}
